<?xml version="1.0"?>
<!-- ======================================================================== -->
<!--  settings.xml for maven users                                            -->
<!--  Version: 2                                                              -->	
<!--  Auhtor: Shawn.Qian                                                      -->	
<!--  $Id$ -->	
<!-- ======================================================================== -->

<settings>
	<!-- ======================================================================== -->
	<!--  Accounts for SCM ONLY                                                   -->
	<!-- ======================================================================== -->
	<servers>
		<server>
			<id>b2b.repo.server</id>
			<username>maven</username>
			<password>secret</password>
		</server>
		<server>
			<id>scm.deploy.account</id>
			<username>maven</username>
			<password>secret</password>
		</server>
                <server>
                        <id>opensesame</id>
                        <username>wenshao</username>
                        <password>hello123</password>
                </server>
	</servers>

	<!-- ======================================================================== -->
	<!--  Profiles                                                                -->
	<!-- ======================================================================== -->
	<profiles>
		<profile>
			<!-- ======================================================================== -->
			<!--  Managed Repositories for Alibaba Dev          -->
			<!-- ======================================================================== -->
			<id>b2b</id>
			<repositories>
				<!-- internal standard maven libs, just plugins and parent poms. No biz libs! -->
				<repository>
					<id>central</id>
					<name>released internal lib</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>b2b-internal-snapshots</id>
					<name>snapshot internal lib</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>			
				</repository>
				<!-- 2nd lib proxy -->
				<repository>
					<id>b2b-shared-repository</id>
					<name>b2b shared libraries</name>
					<url>http://repo.alibaba-inc.com:9091/shared</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			
			<!-- ======================================================================== -->
			<!--  Repositories for maven plugins          -->
			<!-- ======================================================================== -->
			<pluginRepositories>
				<pluginRepository>
					<id>b2b-plugin-snapshots</id>
					<name>plugin snapshots</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>b2b-plugin-releases</id>
					<name>plugin releases</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>						
				</pluginRepository>
				<pluginRepository>
					<id>b2b-external-cache</id>
					<name>cached external lib</name>
					<url>http://repo.alibaba-inc.com/mvn/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<name>archiva proxy server</name>
					<url>http://repo.alibaba-inc.com/archiva/repository/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<!-- ======================================================================== -->
			<!--  Unmanaged Repositories for Alibaba Dev          -->
			<!--  DEPRECATED -->
			<!-- ======================================================================== -->
			<id>b2b.unmanaged</id>
			<repositories>
				<repository>
					<id>b2b-public-releases</id>
					<name>B2B BU public repository for released artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/public/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>						
				</repository>
				<repository>
					<id>b2b-internal-snapshots</id>
					<name>B2B internal repository for snapshots artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				<repository>
					<id>b2b-internal-releases</id>
					<name>B2B internal repository for released artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>						
				</repository>
				<!-- no snapshot allowed for external repositories! -->			
				<repository>
					<id>b2b-central-cache</id>
					<name>B2B cache server for external repositories</name>
					<url>http://repo.alibaba-inc.com/mvn/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<name>B2B proxy server for external repositories</name>
					<url>http://repo.alibaba-inc.com/archiva/repository/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>b2b-public-snapshots</id>
					<name>B2B BU public repository for snapshot artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/public/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>b2b-public-releases</id>
					<name>B2B BU public repository for released artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/public/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>						
				</pluginRepository>
				<!-- will be deprecated soon -->
				<pluginRepository>
					<id>b2b-internal-snapshots</id>
					<name>B2B internal repository for snapshots artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>b2b-internal-releases</id>
					<name>B2B internal repository for released artifacts</name>
					<url>http://repo.alibaba-inc.com/mvn/internal/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>						
				</pluginRepository>
				<!-- no snapshot allowed for external repositories -->
				<pluginRepository>
					<id>b2b-central-cache</id>
					<name>B2B cache to external repositories</name>
					<url>http://repo.alibaba-inc.com/mvn/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<name>Platform proxy to external repositories</name>
					<url>http://repo.alibaba-inc.com/archiva/repository/external</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	
		<profile>
			<id>taobao</id>
			<repositories>
				<repository>
					<id>tbmirror-central</id>
					<name>taobao mirror central</name>
					<url>http://mvnrepo.taobao.ali.com/mvn/repository</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<pluginGroups>
		<pluginGroup>com.alibaba.org.apache.maven.plugins</pluginGroup>
		<pluginGroup>com.alibaba.maven.plugins</pluginGroup>
	</pluginGroups>
	<activeProfiles>
		<activeProfile>b2b</activeProfile>
                <activeProfile>b2b.unmanaged</activeProfile>		
	</activeProfiles>
</settings>
